body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: rgb(255, 255, 255);
    padding-top: 20px;
}

.logo {
    height: 150px;
    width: 150px;
    border-radius: 40%;
    border: 1px solid black;
}

h3 {
    color: rgba(94, 94, 94, 0.89);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4em;
    margin: 10px 0;
}

h2 {
    color: rgba(94, 94, 94, 0.89);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
    margin: 10px 0;
}

.content {
    margin-top: 5px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

.hidden {
    display: none;
}

.button-container {
    height: 70px;
    background-color: transparent;
    display: flex;
}

.Buttons {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1.1em;
    background-color: transparent;
    color: rgba(46, 46, 46, 0.932);
    border: none;
    border-radius: 5px;
}

p {
    color: rgba(97, 97, 97, 0.938);
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 10px 0;
}

.folhetos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    margin-left: 10px;
}

.div-folhetos-1,
.div-folhetos-2,
.div-folhetos-3,
.div-folhetos-4,
.div-folhetos-5 {
    height: 7vh;
    width: 330px;
    max-width: 500px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(196, 196, 196);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.text-folhetos-1,
.text-folhetos-2,
.text-folhetos-3,
.text-folhetos-4,
.text-folhetos-5 {
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.2em;
}

.button-folhetos-1,
.button-folhetos-2,
.button-folhetos-3,
.button-folhetos-4,
.button-folhetos-5 {
    height: 60px;
    width: 150px;
    font-size: 1.2em;
    background-color: #c5ae2e;
    border: none;
    cursor: pointer;
    color: #000000e1;
    border-radius: 5px;
    margin-left: 9%;
}

@media (max-width: 768px) {

    .div-folhetos-1,
    .div-folhetos-2,
    .div-folhetos-3,
    .div-folhetos-4,
    .div-folhetos-5 {
        width: 95%;
    }

    .button-folhetos-1,
    .button-folhetos-2,
    .button-folhetos-3,
    .button-folhetos-4,
    .button-folhetos-5 {
        height: 60px;
    }
}

.escalas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    margin-left: 10px;
}

.div-escala-maio {
    height: 7vh;
    width: 330px;
    max-width: 500px;
    margin-bottom: 1px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(196, 196, 196);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.text-escala-maio {
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.2em;
}

.button-escala-maio {
    height: 62px;
    width: 150px;
    font-size: 1.2em;
    background-color: #c5ae2e;
    border: none;
    cursor: pointer;
    color: #f7f7f7e1;
    border-radius: 5px;
    margin-left: 9%;
}

.img {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.img img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    border: 1px solid #ccc;
}

hr {
    height: 2px;
    width: 90px;
    background-color: black;
    border: none;
    transition: background-color 0.3s;
}

.active-hr {
    border: #c5ae2e;
    background-color: #c5ae2e;
}

.h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
