body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #1E3A8A;
    padding-top: 20px;
    margin-bottom: 20px;
}

.logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 1px solid #1E3A8A;
    box-shadow: 0 0 15px #FFD700, 0 0 30px #FFD700;
    border: none;
}

h3 {
    background: linear-gradient(180deg,
            #fff6cc 0%,
            #FFD700 25%,
            #e6b800 50%,
            #FFD700 75%,
            #fff6cc 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.4em;
    margin: 10px 0;
}



h2-1 {
    color: rgba(94, 94, 94, 0.89);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em;
    margin: 10px 0;
}

.content {
    margin-top: 5px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

.hidden {
    display: none;
}

.button-container {
    margin-left: 25px;
    height: 70px;
    background-color: transparent;
    display: flex;
}

.Buttons {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1.3em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    background: linear-gradient(180deg,
            #fff6cc 0%,
            #FFD700 25%,
            #e6b800 50%,
            #FFD700 75%,
            #fff6cc 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.active-Buttons {
    border: #974208;
    background-color: #974208;
}

p {
    background: linear-gradient(180deg,
            #fff6cc 0%,
            #FFD700 25%,
            #e6b800 50%,
            #FFD700 75%,
            #fff6cc 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 10px 0;
}

.folhetos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    margin-left: 10px;
}

.escalas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    margin-left: 10px;
}

hr {
    height: 2px;
    width: 90px;
    background-color: black;
    border: none;
    transition: background-color 0.3s;
}

.active-hr {
    border: #ffffff;
    background-color: #ffffff;
}

.img {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: 0px;
}

.img img {
    width: 380px;
    height: auto;
    border-radius: 10px;
    border: 1px solid #000000;
    box-shadow: 0px 0px 15px 0px rgb(0, 0, 0);
}

.h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    background: linear-gradient(180deg,
            #fff6cc 0%,
            #FFD700 25%,
            #e6b800 50%,
            #FFD700 75%,
            #fff6cc 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

h2 {
    color: #FAFAFA;
}

#escalasContent img {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 10px;
}
